amazon-braket-default-simulator==1.40.2
amazon-braket-schemas==1.32.1.post0
amazon-braket-sdk==1.127.1
annotated-types==0.8.0
antlr4-python3-runtime==4.13.2
backoff==2.2.1
blinker==1.9.0
boltons==26.2.0
boto3==1.43.98
botocore==1.43.98
click==8.5.0
cloudpickle==2.2.1
coverage==7.16.1
dill==0.4.1
Flask==3.1.3
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
llvmlite==0.46.0
MarkupSafe==3.0.3
mpmath==1.3.0
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
openpulse==1.0.1
openqasm3==1.0.1
opt_einsum==3.4.0
oqpy==0.3.10
packaging==26.3
pluggy==1.6.0
psutil==7.2.2
pydantic==2.13.5
pydantic_core==2.46.5
Pygments==2.21.0
pytest==9.1.1
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
qiskit==2.5.2
qiskit-aer==0.17.2
qiskit-qasm3-import==0.6.0
rqm-braket @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_braket-0.2.2-py3-none-any.whl#sha256=3b3522c2b89d48845da98d838d53985fd7c2cc48e3221b04f5f5ac72f29e52b8
rqm-circuits @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_circuits-0.2.1-py3-none-any.whl#sha256=b43eae417c1dcddf95ccd614696635cf979207b3721267447f1afe97c4f56de6
rqm-compiler @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_compiler-0.3.0-py3-none-any.whl#sha256=d5e40e521ce093c68fc0ee08c6f2d9e73cb361ecb2c396dc9f5643fe999a16ae
rqm-core @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_core-0.2.2-py3-none-any.whl#sha256=a18589a5e38b2f578c4dac3995ddaa7733afcfb3f14ab709b0a2099b1da04c22
rqm-entanglement @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_entanglement-0.2.1-py3-none-any.whl#sha256=c2682a155fd7d4f6c3269c88a16a63fc119b53e28857fa363a111ca43d14edfa
rqm-openqse-adapter @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_openqse_adapter-0.1.1-py3-none-any.whl#sha256=7af862ba3a0164130fc9047aa9a338fa2bcf62f421b28c1d9bcfb6580c7fa027
rqm-optimize @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_optimize-0.1.3-py3-none-any.whl#sha256=2f41c3d718b4520d19c7ca4d7307e3fb7100cd4231b3d7617573e8000e05af46
rqm-qiskit @ file:///workspace/scratch/fe45cbfc1ffe/scientific-certification/native-candidate/wheels/rqm_qiskit-0.4.0-py3-none-any.whl#sha256=c0dd471b3455fbfb084a76ecb3cc7069e6a8da65a196c9d296c3e34a76a1af2c
rustworkx==0.18.1
s3transfer==0.19.2
scipy==1.18.1
six==1.17.0
stevedore==5.9.1
sympy==1.14.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
Werkzeug==3.1.8
